{% extends 'base.html' %}

{% block content %}

<head>
    <title>About Me</title>
</head>

<body bgcolor="#eedf9e">
    <h1 align="center" style="color:red ;"> About Me</h1>
    <hr color="red">

    <p style="font-size: 14px; font-family: arial; color: black";><big> <b>Ali Saadatvand</big></b>
        <br>student
        <br><b>Born:</b> October 10, 2000 
<br><b>Marital Status:</b> Single
<br><b>Military Service:</b> Education Pardon
<br><b>City:</b> Tehran</p>

<p align="center" style="font-family: arial; color: black";> Bachelor's student in computer engineering majoring in software. I live in Tehran, I am interested in website design and activities in this field. 
    I like basketball and fast food. I am a person who loves nature and animals. Most of the time I tend to be alone with myself. 
    I prefer family to friends. I am a person who is trying to start my own business in the field of website design in the future, 
    but I am also interested in the subject of artificial intelligence and may be inclined towards that direction. </p>
    
<hr>
<h2 style="font-size: 22px; font-family: arial;text-align:center;color:black;"> Educational Records </h2>
<ul style="font-size: 14px; font-family: arial; text-align:center;color:black;">
<li>Diploma in Mathematics Physics <br>
<b>High School:</b> Shahid Madani (Dezashib, Tehran)</li>
<br>
<li>Bachelor of Computer Engineering <br>
<b>University:</b> Islamic Azad University, Science and Research Branch, Tehran</li>
</ul>

<hr>
<h2 style="font-size: 22px; font-family: arial;text-align:center;color:black;"> Projects </h2>
<ul style="font-size: 14px; font-family: arial; text-align:center;color:black;">
<li><b>Corporate website design</b><br>
<b>Employer:</b> Ney Noosh Company<br>
The design and support of the WordPress website of Ney Noosh company, a producer of industrial and drinking straws, in three languages: Persian, English and Arabic<br>
link: <a href="http://www.neynoosh.com">http://www.neynoosh.com</a><br>
<b>(Note: this site was closed last year and is currently not accessible)</b></li>
</ul>

</body>
{% endblock content %}