{% extends 'base.html' %}

{% block content %}

<head>
    <title>Contact Me</title>
</head>

<body bgcolor="#eedf9e">
    <h1 align="center" style="color:red ;"> Contact Me</h1>
    <hr color="red">

    <p align="center" style="font-family: arial; color: black";> I will be happy to be in touch with you
        <br>You can contact me in the following ways: </p> 

    <p align="center" style="font-size: 14px; font-family: arial; color: black";>
        <b>Email:</b> <a href="mailto:ali.saadatvand@gmail.com">ali.saadatvand@gmail.com</a><br>
        <br><b>Tel:</b>(+98)9120130079 <br>
        <br><b>Instagram:</b> <a href="http://www.instagram.com/alisaadatvand">alisaadatvand</a>
    </p>
        
</body>
{% endblock content %}