{% extends 'base.html' %}

{% block content %}

<head>
    <title>Home</title>
</head>

<body bgcolor="#eedf9e">
    <hr color="red"><br>

    <h1 align="center" style="font-family: arial; color: black";> Welcome to my website </h1> <br>

    <p align="center" style="font-size: 16px; font-family: arial; color: black";>
        I hope you like this website and recommend it to your friends
        <br>You can use the menu at the top of the page and get more information about me <br>
        <br> Have a good day <b>:)</b>
    </p>
    <h5 align="center">Designed by <a href="http://www.instagram.com/alisaadatvand">Ali Saadatvand</a></h5>
</body>
{% endblock content %}