{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
</head>
<body 	style="background:	#C2B280;font-family: Orbitron;font-size: 1rem">
    <div class="calculator-container" align="center">
        <h1 style="color:purple">BMI CALCULATOR</h1>
        <b><p>Height in meters:</p>
        <input class="height-input-field" type="text"><br><br>
        <p>Weight in kilograms:</p>
        <input class="weight-input-field" type="text"><br>
        <br>
        <button class="calculate"> Calculate</button><br><br>
    </div>
    <hr style="color:blue">
    <div align="center">
    <h3 class="result" style="color:blue"></h3>
    <p class="result-statement" style="color:red"></p>
    </div>
    
<script>
var heightInput = document.querySelector(".height-input-field");
var weightInput = document.querySelector(".weight-input-field");
var calculateButton = document.querySelector(".calculate");
var result = document.querySelector(".result");
var statement = document.querySelector(".result-statement");
var BMI, height, weight;

calculateButton.addEventListener("click", ()=>{
    
    height = heightInput.value;
    weight = weightInput.value;
    BMI = weight/(height**2); 
    result.innerText = BMI;

    if(BMI < 18.5){
        statement.innerText = "Your BMI falls within the underweight range";    
    }else if((BMI > 18.5) && (BMI < 24.9)){
        statement.innerText = "Your BMI falls within the normal or healthy weight range";
    }else if((BMI > 25) && (BMI < 29.9 )){
        statement.innerText = "Your BMI falls within the overweight range";
    }else{
        statement.innerText = "Please enter the correct values";
    }
});
</script>
</body>
</html>
{% endblock content %}